<!DOCTYPE html>
  <head>
    <title>Deeson Local Development</title>
    <meta charset="utf-8">
    <style type="text/css">
      .code {
        font-family: monospace;
        background-color: #f6f6f2;
        border: 1px solid #CCC;
        padding: 10px;
        margin-bottom: .5em;
        list-style-type: none;
        width: 650px;
      }
    </style>
  </head>

  <body>
    <h1>Deeson Local Development environment</h1>

    <p>Hello, developer! On this page you can find links to your configured sites and development tools.</p>

    <ul>
      <li><a href="#dev">Development tools</a></li>
      <li><a href="#faq">Instructions</a></li>
      <li><a href="#sites">Configured Sites</a></li>
    </ul>

    <h2 id="dev">Development Tools</h2>
    <ul>
      <li><a href="http://<%= node["vm"]["ip"] %>:8025/">MailHog</a></li>
      <li><a href="/phpinfo.php">phpinfo()</a></li>
      <li><a href="http://logs.<%= node["vm"]["domain_suffix"] %>">Real time logs</a></li>
      <li><a href="http://<%= node["vm"]["ip"] %>:8984/solr">Solr Administration</a></li>
    </ul>

    <h2 id="ports">Ports</h2>
    <ul>
      <li><b>Port 443</b>: NGinX (HTTPS)</li>
      <li><b>Port 80</b>: NGinX (HTTP)</li>
      <li><b>Port 8984</b>: Solr</li>
    </ul>

    <h3 id="faq">Instructions</h3>
    <ul>
      <li><a href="#ssh">How to ssh into virtual machine?</a></li>
      <li><a href="#builder">How to install fresh Drupal version?</a></li>
      <li><a href="#ssl">How to use SSL</a></li>
      <li><a href="#xdebugcli">XDebug CLI - How to debug command line scripts</a></li>
    </ul>

    <h3>Answers</h3>

    <h4 id="ssh">How to ssh into virtual machine?</h4>
    <p>There are a couple of methods, either via the vagrant directory:</p>
    <ol class="code">
      <li>$ cd ~/Applications/vdd</li>
      <li>$ vagrant ssh</li>
    </ol>

    <p>Or you can ssh in anywhere via:</p>
    <ol class="code">
      <li>$ ssh dev.local</li>
    </ol>

    <p>Or from a project docroot you can use drush:</p>
    <ol class="code">
      <li>$ drush @vdd ssh</li>
    </ol>

     <h4 id="ssl">How to use SSL</h4>
     <p>If you have required the settings file correctly then nothing else is needed. Your site should respond on https://[shortname].<%= node["vm"]["domain_suffix"] %>
     </p>
     <p>You can also add the SSL certificates to your Mac’s keychain to make it trust the certificate and you get a nice green padlock.  There is a certificate per site:
     </p>
     <ol>
     <li>Open finder and open the directory ~/Applications/vdd/data/ssl</li>
     <li>Double click each crt file, your Mac keychain will open</li>
     <li>Click Always trust</li>
     <li>Type your password into the popup and click Update settings</li>
     </ol>

     <h4 id="#xdebugcli">XDebug - How to debug PHP on the command line</h4>
     <p>These instructions allow you to set breakpoints in a command line script such as drush command and step through execution in PHPStorm. Most of the configuration is in VDD already.</p>
     <ol>
       <li>Preferences --&gt; Lanuages and Frameworks --&gt; PHP </li>
       <li>Add a new CLI interpreter (PHP 7) called VDD</li>
       <li>Remote should be set to <b>Vargrant</b></li>
       <li>Vagrant instance folder should be your VDD installation path (i.e. ~/Application/vdd)</li>
       <li>PHP Executable will be <b>/usr/bin/php</b></li>
       <li>Click OK</li>
       <li>Path Mappings should include a mapping from your Sites directory <b>~/Sites</b> to <b>/var/www/vhosts</b> on VDD</li>
     </ol>

     <h2 id="sites">Configured Sites</h2>

    <h3>Add the following to host machine's <a href="http://www.howtogeek.com/howto/27350/beginner-geek-how-to-edit-your-hosts-file/" target="_blank">hosts file</a>:</h3>
    <ul class="code">
      <li># Sites declared in VDD's config.json</li>
      <% @sites.each do |index, site| %>
        <%- if defined?(site["vhost"]["url"]) then -%>
          <li><%= node["vm"]["ip"] %> <%= site["vhost"]["url"] %> </li>
        <%- end -%>
        <%- if defined?(site["vhost"]["alias"]) then -%>
          <%- site["vhost"]["alias"].each do |vhostalias| -%>
            <li><%= node["vm"]["ip"] %> <%= vhostalias %> </li>
          <%- end -%>
        <%- end -%>
      <% end %>
      <li># End of sites declared with VDD</li>
    </ul>

    <ul>
      <% @sites.each do |index, site| %>
      <li>
       <%- if defined?(site["vhost"]["url"]) then -%>
         <a href="https://<%= site["vhost"]["url"] %>"><%= site["site_name"] %></a> (Drush alias is @<%= index %>)
       <%- else -%>
         <a href="/<%= index %>"><%= site["site_name"] %></a> (Drush alias is @<%= index %>)
       <%- end -%>

       <%- if defined?(site["type"]) then -%>
         <em><%= site["type"] %></em>
       <%- end -%>
      </li>
      <% end %>
    </ul>

  </body>
</html>
